name: C/C++ CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: make
      run: |
        make
        make clean
        make DEBUG=1
        sudo apt-get install libsystemd-dev
        make clean
        make SYSTEMD=1
        make clean
        make USE_SYSLOG=1
        make clean
        make OLD_FUNCTIONFS_DESCRIPTORS=1
